<!DOCTYPE html>
<html>

<head>

    <title>Parkinson Detection System</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body class="container mt-4">

    <h2>Parkinson Detection ML System</h2>

    <ul class="nav nav-tabs">

        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#prediction">Prediction</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#importance">Feature Importance</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#bias">Bias-Variance</a>
        </li>

    </ul>

    <div class="tab-content mt-3">

        <div class="tab-pane fade show active" id="prediction">

            <h4>Enter 26 Feature Values</h4>

            <form action="/predict" method="post">

                <input type="text" name="features" class="form-control" placeholder="comma separated 26 features">

                <br>

                <button class="btn btn-primary">Predict</button>

            </form>

            {% if prediction %}

            <h4 class="mt-3">Result: {{ prediction }}</h4>

            {% endif %}

        </div>


        <div class="tab-pane fade" id="importance">

            <h4>Feature Importance</h4>

            <img src="/static/feature_importance.png" width="700">

        </div>


        <div class="tab-pane fade" id="bias">

            <h4>Bias-Variance Curve</h4>

            <img src="/static/learning_curve.png" width="700">

        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>